[submodule "bb-component-SuperContainer"]
	path = bb-component-SuperContainer
	url = https://github.com/poirazis/bb-component-SuperContainer
[submodule "bb-component-SuperFilter"]
	path = bb-component-SuperFilter
	url = https://github.com/poirazis/bb-component-SuperFilter
[submodule "bb-component-SuperField"]
	path = bb-component-SuperField
	url = https://github.com/poirazis/bb-component-SuperField
[submodule "bb-component-SuperTable"]
	path = bb-component-SuperTable
	url = https://github.com/poirazis/bb-component-SuperTable
[submodule "bb-component-SuperOdometer"]
	path = bb-component-SuperOdometer
	url = https://github.com/poirazis/bb-component-SuperOdometer
[submodule "bb-component-SuperGauge"]
	path = bb-component-SuperGauge
	url = https://github.com/poirazis/bb-component-SuperGauge
[submodule "bb-component-SuperTableColumn"]
	path = bb-component-SuperTableColumn
	url = https://github.com/poirazis/bb-component-SuperTableColumn
[submodule "bb-component-SuperTableCell"]
	path = bb-component-SuperTableCell
	url = https://github.com/poirazis/bb-component-SuperTableCell
[submodule "bb-component-SuperFieldGroup"]
	path = bb-component-SuperFieldGroup
	url = https://github.com/poirazis/bb-component-SuperFieldGroup
[submodule "bb-component-SuperButton"]
	path = bb-component-SuperButton
	url = https://github.com/poirazis/bb-component-SuperButton
[submodule "bb_super_components_shared"]
	path = bb_super_components_shared
	url = https://github.com/poirazis/bb_super_components_shared
[submodule "bb-component-SuperFieldRepeatable"]
	path = bb-component-SuperFieldRepeatable
	url = https://github.com/poirazis/bb-component-SuperFieldRepeatable
[submodule "bb-component-SuperToolbar"]
	path = bb-component-SuperToolbar
	url = https://github.com/poirazis/bb-component-SuperToolbar
[submodule "bb-component-SuperSliderField"]
	path = bb-component-SuperSliderField
	url = https://github.com/poirazis/bb-component-SuperSliderField
[submodule "bb-component-SuperFieldOptions"]
	path = bb-component-SuperFieldOptions
	url = https://github.com/poirazis/bb-component-SuperFieldOptions
